{% extends 'base.html.twig' %}

{% block body %}
    <div class="container border mt-3">
        <div class="form">
            <form class="ant-form ant-form-horizontal" method="post">
                {% if error %}
                    <div class="alert alert-danger mt-3">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <h1 class="h3 mb-3 mt-2 font-weight-normal">Sign in</h1>
                <div class="ant-row ant-form-item">
                    <div class="ant-col ant-form-item-control">
                        <div class="ant-form-item-control-input">
                            <div class="form-outline mb-4">
                                <label for="inputUsername">Username</label>
                                <input type="text" value="{{ lastUsername }}" name="username" id="inputUsername"
                                       class="form-control" autocomplete="username" required autofocus>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ant-row ant-form-item">
                    <div class="ant-col ant-form-item-control">
                        <div class="ant-form-item-control-input">
                            <div class="form-outline mb-4">
                                <label for="inputPassword">Password</label>
                                <input type="password" name="password" id="inputPassword" class="form-control"
                                       autocomplete="current-password" required>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <div class="ant-row">
                    <button class="btn btn-primary mb-3" type="submit">
                        Sign in
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
